html,body{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
ol,ul{list-style:none;margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{
	text-decoration: none;
	padding-right: 1087px;
}
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 40px 0;}/* Add 5px bottom padding and a underline */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
/*end reset*/
body {
	margin: 0 auto;
	text-align: center;
	background: #ffffff;
	font-family: 'Open Sans', sans-serif;
}
#wrapper {
	padding: 0;
	margin: auto;
	width: 1340px;
	max-width:1600px;
	overflow: auto;
}
.header_bg{
	background: #252323;
	width:100%;
}
.header{
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}
.logo{
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}
.body-image{
	padding:75px 0px 0px;
	}
/* start footer */
.footer_bg{
	background-color: #252323;
	width:1340px;
	max-width:1600px;
}
.copy{
	font-size: 12px;
	text-align: center;
	color: #ffffff;
	line-height: 25px;
	margin-top: 60px;
	}
